<html>
  <head>
    {% if title %}
    <title>{{ title }} - Microblog</title>
    {% else %}
    <title>Welcome to Microblog</title>
    {% endif %}
  </head>
  <body>
    <div>Microblog:
      <!-- always show Home page in menu, show login if analymous and logout if logged in-->
      <a href="{{ url_for('index') }}">Home</a>
      {% if current_user.is_anonymous %}
      <a href="{{ url_for('login') }}">Login</a>
      {% else %}
      <!-- since we are using a dynamic route, pass url_for the value of the argument -->
      <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
      <a href="{{ url_for('logout') }}">Logout</a>
      <a href="{{ url_for('explore') }}">Explore</a>
      {% endif %}
    </div>
    <hr> <!-- a thematic break -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul> <!-- tag is an unordered list -->
      {% for message in messages %}
      <li>{{ message }}<li> <!-- these are elements in the list -->
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %} 
 </body>
</html>
